Initial Data Cleaning of Zillow Data.

In [21]:
import os
import pandas as pd

In [18]:
path1 = os.getcwd()
path2 = path[:-9] + '\\data\\raw'
os.chdir(path2)
os.listdir()

['.gitkeep',
 'all_available_metrics.json',
 'archive.zip',
 'cities_crosswalk.csv',
 'City_time_series.csv',
 'CountyCrossWalk_Zillow.csv',
 'County_time_series.csv',
 'DataDictionary.csv',
 'fields_per_level.json',
 'Metro_time_series.csv',
 'Neighborhood_time_series.csv',
 'State_time_series.csv',
 'Zip_time_series.csv']

In [19]:
os.chdir(path1)

In [22]:
df = pd.read_csv(path2+'\\Zip_time_series.csv')

In [24]:
df.describe()

,RegionName,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,MedianListingPricePerSqft_CondoCoop,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
count,4.383885e+06,1.051104e+06,1.051104e+06,8194.000000,86554.000000,384738.000000,197581.000000,33722.000000,814908.000000,72778.000000,...,3.073015e+06,1.296485e+06,3.631566e+06,3.612063e+06,3.684376e+06,1.337362e+06,1.339353e+06,1.253969e+06,723542.000000,1.334321e+06
mean,4.683726e+04,1.230490e+02,1.230721e+02,322.914946,188.769142,144.331279,154.549637,223.571617,158.755338,273.766816,...,1.485749e+05,1.877266e+05,1.977040e+05,2.079495e+05,2.932095e+05,1.429688e+03,1.414117e+03,9.484601e-01,1325.079733,1.463457e+03
std,2.883334e+04,1.172875e+02,1.180173e+02,301.027216,186.646266,115.581365,114.846920,216.186771,134.386742,290.412769,...,1.240348e+05,1.426228e+05,1.771804e+05,2.040974e+05,2.970779e+05,7.197163e+02,6.913265e+02,4.240444e-01,568.827402,8.077924e+02
min,7.450000e+02,3.000000e+00,2.000000e+00,24.793388,21.045918,20.833333,21.384804,19.370574,15.716151,28.750000,...,1.350000e+04,2.700000e+04,1.670000e+04,1.670000e+04,2.690000e+04,4.110000e+02,4.110000e+02,2.760000e-01,414.000000,4.110000e+02
25%,2.183000e+04,4.600000e+01,4.600000e+01,155.056896,97.826937,91.187739,99.996853,109.830759,92.095406,122.861795,...,7.560000e+04,1.045000e+05,1.014000e+05,1.022000e+05,1.499000e+05,1.006000e+03,1.000000e+03,6.980000e-01,933.000000,1.007000e+03
50%,4.466900e+04,8.800000e+01,8.800000e+01,230.835830,139.332358,117.742281,125.722509,147.375569,122.694639,184.293515,...,1.129000e+05,1.457000e+05,1.470000e+05,1.495000e+05,2.152000e+05,1.246000e+03,1.238000e+03,8.340000e-01,1194.000000,1.251000e+03
75%,7.271800e+04,1.600000e+02,1.600000e+02,380.292972,215.616002,160.705393,168.603216,241.664617,175.354721,312.237594,...,1.735000e+05,2.211000e+05,2.301000e+05,2.390000e+05,3.318000e+05,1.613000e+03,1.598000e+03,1.052000e+00,1549.000000,1.642000e+03
max,9.990100e+04,2.560000e+03,2.639000e+03,2128.129602,2746.913580,3167.641326,3364.485981,2310.628893,2799.423447,2802.346570,...,3.872400e+06,3.083700e+06,7.212500e+06,7.313400e+06,1.296680e+07,1.837500e+04,1.780800e+04,6.496000e+00,15891.000000,2.096400e+04

In [25]:
df.head()

,Date,RegionName,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
0,1996-04-30,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,68700.0,67000.0,101900.0,107000.0,124800.0,NaN,NaN,NaN,NaN,NaN
1,1996-04-30,1002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,97000.0,81300.0,135200.0,145800.0,213600.0,NaN,NaN,NaN,NaN,NaN
2,1996-04-30,1005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,85400.0,NaN,101200.0,101200.0,125700.0,NaN,NaN,NaN,NaN,NaN
3,1996-04-30,1007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,97900.0,87600.0,124000.0,125000.0,162100.0,NaN,NaN,NaN,NaN,NaN
4,1996-04-30,1008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81100.0,NaN,109300.0,109300.0,148100.0,NaN,NaN,NaN,NaN,NaN

In [26]:
columns = df.columns

In [27]:
columns

Index(['Date', 'RegionName', 'InventorySeasonallyAdjusted_AllHomes',
       'InventoryRaw_AllHomes', 'MedianListingPricePerSqft_1Bedroom',
       'MedianListingPricePerSqft_2Bedroom',
       'MedianListingPricePerSqft_3Bedroom',
       'MedianListingPricePerSqft_4Bedroom',
       'MedianListingPricePerSqft_5BedroomOrMore',
       'MedianListingPricePerSqft_AllHomes',
       'MedianListingPricePerSqft_CondoCoop',
       'MedianListingPricePerSqft_DuplexTriplex',
       'MedianListingPricePerSqft_SingleFamilyResidence',
       'MedianListingPrice_1Bedroom', 'MedianListingPrice_2Bedroom',
       'MedianListingPrice_3Bedroom', 'MedianListingPrice_4Bedroom',
       'MedianListingPrice_5BedroomOrMore', 'MedianListingPrice_AllHomes',
       'MedianListingPrice_CondoCoop', 'MedianListingPrice_DuplexTriplex',
       'MedianListingPrice_SingleFamilyResidence',
       'MedianPctOfPriceReduction_AllHomes',
       'MedianPctOfPriceReduction_CondoCoop',
       'MedianPctOfPriceReduction_SingleFamilyResidence',
       'MedianPriceCutDollar_AllHomes', 'MedianPriceCutDollar_CondoCoop',
       'MedianPriceCutDollar_SingleFamilyResidence',
       'MedianRentalPricePerSqft_1Bedroom',
       'MedianRentalPricePerSqft_2Bedroom',
       'MedianRentalPricePerSqft_3Bedroom',
       'MedianRentalPricePerSqft_4Bedroom',
       'MedianRentalPricePerSqft_5BedroomOrMore',
       'MedianRentalPricePerSqft_AllHomes',
       'MedianRentalPricePerSqft_CondoCoop',
       'MedianRentalPricePerSqft_DuplexTriplex',
       'MedianRentalPricePerSqft_MultiFamilyResidence5PlusUnits',
       'MedianRentalPricePerSqft_SingleFamilyResidence',
       'MedianRentalPricePerSqft_Studio', 'MedianRentalPrice_1Bedroom',
       'MedianRentalPrice_2Bedroom', 'MedianRentalPrice_3Bedroom',
       'MedianRentalPrice_4Bedroom', 'MedianRentalPrice_5BedroomOrMore',
       'MedianRentalPrice_AllHomes', 'MedianRentalPrice_CondoCoop',
       'MedianRentalPrice_DuplexTriplex',
       'MedianRentalPrice_MultiFamilyResidence5PlusUnits',
       'MedianRentalPrice_SingleFamilyResidence', 'MedianRentalPrice_Studio',
       'ZHVIPerSqft_AllHomes', 'PctOfHomesDecreasingInValues_AllHomes',
       'PctOfHomesIncreasingInValues_AllHomes',
       'PctOfListingsWithPriceReductionsSeasAdj_AllHomes',
       'PctOfListingsWithPriceReductionsSeasAdj_CondoCoop',
       'PctOfListingsWithPriceReductionsSeasAdj_SingleFamilyResidence',
       'PctOfListingsWithPriceReductions_AllHomes',
       'PctOfListingsWithPriceReductions_CondoCoop',
       'PctOfListingsWithPriceReductions_SingleFamilyResidence',
       'PriceToRentRatio_AllHomes', 'ZHVI_1bedroom', 'ZHVI_2bedroom',
       'ZHVI_3bedroom', 'ZHVI_4bedroom', 'ZHVI_5BedroomOrMore',
       'ZHVI_AllHomes', 'ZHVI_BottomTier', 'ZHVI_CondoCoop', 'ZHVI_MiddleTier',
       'ZHVI_SingleFamilyResidence', 'ZHVI_TopTier', 'ZRI_AllHomes',
       'ZRI_AllHomesPlusMultifamily', 'ZriPerSqft_AllHomes',
       'Zri_MultiFamilyResidenceRental', 'Zri_SingleFamilyResidenceRental'],
      dtype='object')

In [33]:
df['RegionName'].unique()

array([ 1001,  1002,  1005, ..., 73102, 78215, 78235], dtype=int64)

In [37]:
df.loc[df['RegionName'] == '78728']

ValueError: unknown type str160

In [39]:
type(df['RegionName'][0])

numpy.int64

In [40]:
df.loc[df['RegionName'] == 78728]

,Date,RegionName,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
150008,1997-02-28,78728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164746,1997-03-31,78728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179495,1997-04-30,78728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194244,1997-05-31,78728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208990,1997-06-30,78728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95700.0,NaN,118900.0,118900.0,134100.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4304424,2017-08-31,78728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,149.495460,...,210900.0,NaN,251700.0,251900.0,272800.0,1637.0,1635.0,0.938,1394.0,1638.0
4323471,2017-09-30,78728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147.002849,...,213100.0,NaN,252900.0,253000.0,276500.0,1635.0,1633.0,0.938,1382.0,1636.0
4342518,2017-10-31,78728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,148.412750,...,217000.0,NaN,254600.0,254600.0,280300.0,1638.0,1636.0,0.940,1365.0,1638.0
4361565,2017-11-30,78728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.255864,...,220700.0,NaN,256500.0,256600.0,281700.0,1645.0,1642.0,0.942,1356.0,1645.0
4380612,2017-12-31,78728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147.574854,...,223700.0,NaN,257700.0,257700.0,282000.0,1652.0,1647.0,0.944,1349.0,1652.0

In [41]:
san_antonio_zipcodes = [78201, 78202, 78203, 78204, 78205, 78206, 78207, 78208, 78209, 78210, 78211, 78212, 78213, 78214, 78215, 78216, 78217, 78218, 78219, 78220, 78221, 78222, 78223, 78224, 78225, 78226, 78227, 78228, 78229, 78230, 78231, 78232, 78233, 78234, 78235, 78236, 78237, 78238, 78239, 78240, 78241, 78242, 78243, 78244, 78245, 78246, 78247, 78248, 78249, 78250, 78251, 78252, 78253, 78254, 78255, 78256, 78257, 78258, 78259, 78260, 78261, 78262, 78263, 78264, 78265, 78266, 78268, 78269, 78270, 78275, 78278, 78279, 78280, 78283, 78284, 78285, 78286, 78287, 78288, 78289, 78291, 78292, 78293, 78294, 78295, 78296, 78297, 78298, 78299]

In [42]:
df['RegionName'].isin(san_antonio_zipcodes)

0          False
1          False
2          False
3          False
4          False
           ...
4383880    False
4383881    False
4383882    False
4383883    False
4383884    False
Name: RegionName, Length: 4383885, dtype: bool

In [44]:
sat_subset_index = df['RegionName'].isin(san_antonio_zipcodes)

In [45]:
sat_subset = df[sat_subset_index]

In [46]:
sat_subset.head()

,Date,RegionName,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
10799,1996-04-30,78253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,123300.0,123300.0,NaN,NaN,NaN,NaN,NaN,NaN
10800,1996-04-30,78266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,271400.0,NaN,NaN,NaN,NaN,NaN
24563,1996-05-31,78253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,123500.0,123500.0,NaN,NaN,NaN,NaN,NaN,NaN
24564,1996-05-31,78266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,270300.0,NaN,NaN,NaN,NaN,NaN
38363,1996-06-30,78253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,123800.0,123800.0,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
sat_subset.describe()

,RegionName,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,MedianListingPricePerSqft_CondoCoop,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
count,12714.000000,3552.000000,3552.000000,0.0,28.000000,2641.000000,1667.000000,436.000000,3231.000000,21.000000,...,4340.000000,835.000000,7150.000000,6648.000000,9.148000e+03,4730.000000,4730.000000,4730.000000,2635.000000,4730.000000
mean,78233.708353,151.592342,151.663570,NaN,148.072755,99.838673,106.629465,109.931655,99.739984,149.848181,...,97418.847926,103041.437126,139996.279720,128693.020457,2.196086e+05,1298.405074,1288.826004,0.784927,1020.995446,1303.489429
std,18.897203,132.107118,132.924431,NaN,3.985732,30.417928,33.817553,26.515729,32.784791,11.321393,...,49891.520021,43825.523458,104986.577286,77148.159629,1.441631e+05,566.935749,545.343112,0.102036,182.530700,569.602547
min,78201.000000,11.000000,10.000000,NaN,137.832714,47.099189,55.875706,78.790142,53.565133,134.575569,...,38300.000000,48000.000000,38700.000000,38700.000000,5.220000e+04,712.000000,714.000000,0.594000,757.000000,712.000000
25%,78218.000000,60.000000,60.000000,NaN,145.669317,80.611125,84.298058,90.629551,78.923041,138.008565,...,65000.000000,70550.000000,71400.000000,70975.000000,1.162000e+05,917.000000,919.000000,0.714500,906.000000,920.000000
50%,78232.000000,102.000000,102.000000,NaN,147.399852,93.068036,99.974256,103.404127,92.009685,150.914634,...,82400.000000,83500.000000,103550.000000,103500.000000,1.747000e+05,1123.000000,1120.000000,0.774000,983.000000,1128.500000
75%,78251.000000,206.250000,204.000000,NaN,151.453222,111.107397,118.837746,120.813812,110.340752,156.458056,...,113900.000000,132050.000000,167250.000000,161200.000000,2.914000e+05,1424.000000,1417.000000,0.834000,1065.000000,1429.000000
max,78266.000000,889.000000,961.000000,NaN,155.687196,233.551349,240.281604,211.751104,246.604718,170.951157,...,336800.000000,232600.000000,621400.000000,408400.000000,1.069700e+06,4255.000000,4151.000000,1.296000,2147.000000,4285.000000

In [49]:
len(columns)

76

In [52]:
sat_subset['ZHVI_1bedroom'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: ZHVI_1bedroom, dtype: float64

In [53]:
sat_subset['MedianListingPricePerSqft_1Bedroom'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: MedianListingPricePerSqft_1Bedroom, dtype: float64

In [61]:
sat_family_homes = sat_subset[['Date', 'RegionName', 'InventorySeasonallyAdjusted_AllHomes',
       'InventoryRaw_AllHomes','MedianListingPricePerSqft_2Bedroom',
       'MedianListingPricePerSqft_3Bedroom',
       'MedianListingPricePerSqft_4Bedroom',
       'MedianListingPricePerSqft_5BedroomOrMore',
       'MedianListingPricePerSqft_AllHomes',
       'MedianListingPricePerSqft_CondoCoop',
       'MedianListingPricePerSqft_DuplexTriplex',
       'MedianListingPricePerSqft_SingleFamilyResidence',
       'MedianListingPrice_1Bedroom', 'MedianListingPrice_2Bedroom',
       'MedianListingPrice_3Bedroom', 'MedianListingPrice_4Bedroom',
       'MedianListingPrice_5BedroomOrMore', 'MedianListingPrice_AllHomes',
       'MedianListingPrice_CondoCoop', 'MedianListingPrice_DuplexTriplex']]

In [62]:
sat_family_homes.describe()

,RegionName,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,MedianListingPricePerSqft_CondoCoop,MedianListingPricePerSqft_DuplexTriplex,MedianListingPricePerSqft_SingleFamilyResidence,MedianListingPrice_1Bedroom,MedianListingPrice_2Bedroom,MedianListingPrice_3Bedroom,MedianListingPrice_4Bedroom,MedianListingPrice_5BedroomOrMore,MedianListingPrice_AllHomes,MedianListingPrice_CondoCoop,MedianListingPrice_DuplexTriplex
count,12714.000000,3552.000000,3552.000000,28.000000,2641.000000,1667.000000,436.000000,3231.000000,21.000000,0.0,3190.000000,0.0,28.000000,2050.000000,1419.000000,3.870000e+02,2516.000000,20.000000,0.0
mean,78233.708353,151.592342,151.663570,148.072755,99.838673,106.629465,109.931655,99.739984,149.848181,NaN,98.916409,NaN,260007.321429,203527.850488,272657.690627,3.959579e+05,231756.269873,221261.450000,NaN
std,18.897203,132.107118,132.924431,3.985732,30.417928,33.817553,26.515729,32.784791,11.321393,NaN,30.504520,NaN,12231.479993,93696.338448,92275.740064,1.629786e+05,122660.431977,21945.216262,NaN
min,78201.000000,11.000000,10.000000,137.832714,47.099189,55.875706,78.790142,53.565133,134.575569,NaN,53.565133,NaN,238767.000000,74850.000000,114250.000000,2.110000e+05,68500.000000,188500.000000,NaN
25%,78218.000000,60.000000,60.000000,145.669317,80.611125,84.298058,90.629551,78.923041,138.008565,NaN,79.206928,NaN,250866.250000,139000.000000,199900.000000,2.799950e+05,144999.375000,206925.000000,NaN
50%,78232.000000,102.000000,102.000000,147.399852,93.068036,99.974256,103.404127,92.009685,150.914634,NaN,92.201301,NaN,261947.500000,169900.000000,264900.000000,3.803990e+05,183600.000000,220250.000000,NaN
75%,78251.000000,206.250000,204.000000,151.453222,111.107397,118.837746,120.813812,110.340752,156.458056,NaN,110.353686,NaN,267499.500000,242868.750000,330495.000000,4.499900e+05,296250.000000,235000.000000,NaN
max,78266.000000,889.000000,961.000000,155.687196,233.551349,240.281604,211.751104,246.604718,170.951157,NaN,243.937964,NaN,280000.000000,599900.000000,734000.000000,1.095000e+06,765000.000000,259000.000000,NaN

In [65]:
sat_family_homes[['Date', 'MedianListingPricePerSqft_2Bedroom']]

               Date  MedianListingPricePerSqft_2Bedroom
10799    1996-04-30                                 NaN
10800    1996-04-30                                 NaN
24563    1996-05-31                                 NaN
24564    1996-05-31                                 NaN
38363    1996-06-30                                 NaN
...             ...                                 ...
4380475  2017-12-31                                 NaN
4380476  2017-12-31                                 NaN
4380477  2017-12-31                                 NaN
4380478  2017-12-31                                 NaN
4380479  2017-12-31                                 NaN

[12714 rows x 2 columns]

There are only 28 data points for 2 bedroom houses in San Antonio for the Median Listing Price per SQFT

In [68]:
len(sat_subset['RegionName'].unique())

57

In [69]:
columns

Index(['Date', 'RegionName', 'InventorySeasonallyAdjusted_AllHomes',
       'InventoryRaw_AllHomes', 'MedianListingPricePerSqft_1Bedroom',
       'MedianListingPricePerSqft_2Bedroom',
       'MedianListingPricePerSqft_3Bedroom',
       'MedianListingPricePerSqft_4Bedroom',
       'MedianListingPricePerSqft_5BedroomOrMore',
       'MedianListingPricePerSqft_AllHomes',
       'MedianListingPricePerSqft_CondoCoop',
       'MedianListingPricePerSqft_DuplexTriplex',
       'MedianListingPricePerSqft_SingleFamilyResidence',
       'MedianListingPrice_1Bedroom', 'MedianListingPrice_2Bedroom',
       'MedianListingPrice_3Bedroom', 'MedianListingPrice_4Bedroom',
       'MedianListingPrice_5BedroomOrMore', 'MedianListingPrice_AllHomes',
       'MedianListingPrice_CondoCoop', 'MedianListingPrice_DuplexTriplex',
       'MedianListingPrice_SingleFamilyResidence',
       'MedianPctOfPriceReduction_AllHomes',
       'MedianPctOfPriceReduction_CondoCoop',
       'MedianPctOfPriceReduction_SingleFamilyResidence',
       'MedianPriceCutDollar_AllHomes', 'MedianPriceCutDollar_CondoCoop',
       'MedianPriceCutDollar_SingleFamilyResidence',
       'MedianRentalPricePerSqft_1Bedroom',
       'MedianRentalPricePerSqft_2Bedroom',
       'MedianRentalPricePerSqft_3Bedroom',
       'MedianRentalPricePerSqft_4Bedroom',
       'MedianRentalPricePerSqft_5BedroomOrMore',
       'MedianRentalPricePerSqft_AllHomes',
       'MedianRentalPricePerSqft_CondoCoop',
       'MedianRentalPricePerSqft_DuplexTriplex',
       'MedianRentalPricePerSqft_MultiFamilyResidence5PlusUnits',
       'MedianRentalPricePerSqft_SingleFamilyResidence',
       'MedianRentalPricePerSqft_Studio', 'MedianRentalPrice_1Bedroom',
       'MedianRentalPrice_2Bedroom', 'MedianRentalPrice_3Bedroom',
       'MedianRentalPrice_4Bedroom', 'MedianRentalPrice_5BedroomOrMore',
       'MedianRentalPrice_AllHomes', 'MedianRentalPrice_CondoCoop',
       'MedianRentalPrice_DuplexTriplex',
       'MedianRentalPrice_MultiFamilyResidence5PlusUnits',
       'MedianRentalPrice_SingleFamilyResidence', 'MedianRentalPrice_Studio',
       'ZHVIPerSqft_AllHomes', 'PctOfHomesDecreasingInValues_AllHomes',
       'PctOfHomesIncreasingInValues_AllHomes',
       'PctOfListingsWithPriceReductionsSeasAdj_AllHomes',
       'PctOfListingsWithPriceReductionsSeasAdj_CondoCoop',
       'PctOfListingsWithPriceReductionsSeasAdj_SingleFamilyResidence',
       'PctOfListingsWithPriceReductions_AllHomes',
       'PctOfListingsWithPriceReductions_CondoCoop',
       'PctOfListingsWithPriceReductions_SingleFamilyResidence',
       'PriceToRentRatio_AllHomes', 'ZHVI_1bedroom', 'ZHVI_2bedroom',
       'ZHVI_3bedroom', 'ZHVI_4bedroom', 'ZHVI_5BedroomOrMore',
       'ZHVI_AllHomes', 'ZHVI_BottomTier', 'ZHVI_CondoCoop', 'ZHVI_MiddleTier',
       'ZHVI_SingleFamilyResidence', 'ZHVI_TopTier', 'ZRI_AllHomes',
       'ZRI_AllHomesPlusMultifamily', 'ZriPerSqft_AllHomes',
       'Zri_MultiFamilyResidenceRental', 'Zri_SingleFamilyResidenceRental'],
      dtype='object')

In [74]:
TwoBedroom_drop = [s for s in columns if "2Bed" in s]
#Create a list to drop the 2bedroom houses from the list since we only have 28 datapoints.

In [75]:
TwoBedroom_drop

['MedianListingPricePerSqft_2Bedroom',
 'MedianListingPrice_2Bedroom',
 'MedianRentalPricePerSqft_2Bedroom',
 'MedianRentalPrice_2Bedroom']